In [22]:
import pandas as pd
import numpy as np
import os
from matplotlib import pyplot as plt
from shutil import copy

file_source = '/tmp/me/out.log'
file_destination = os.getcwd()

copy(file_source, file_destination)

columns_log = ['LogType', 'Date', 'Time', 'PID', 'ResponseTime', 'UID', 'URL']

In [23]:
df_logs = pd.DataFrame(columns=columns_log)

with open(file_destination + '/out.log', 'r') as f:
    lines = f.readlines()
    for line in lines:
        # Eliminate incorrect entries
        if('Something messed up' in line):
            pass
        else:
            for log_identifier in ['[ERROR]', '[DEBUG]', '[INFO]']:
                if(log_identifier in line):
                    log_array = line.split(log_identifier)[0].split(' ')
                    # Constructing columns
                    log_type = log_identifier.replace('[', '').replace(']', '')
                    date = str(log_array[0])
                    time = str(log_array[1])
                    pid = str(log_array[3]).replace('[', '').replace(']', '')
                    response_time = str(log_array[4]).replace(
                        '[', '').replace(']', '').replace('ms', '')
                    uid = str(log_array[6]).replace(']', '')
                    url = line.split(log_identifier)[1].split(' ')[1]
                    df_logs.loc[len(df_logs)] = [log_type, date,
                                                 time, pid, response_time, uid, url]

In [24]:
os.remove('out.log')

In [31]:
df_logs[df_logs.LogType != 'ERROR'].head(10)

   LogType        Date             Time   PID ResponseTime    UID        URL
1     INFO  2018-08-30  17:12:27.846066  4789          134  DX2CB      /home
2     INFO  2018-08-30  17:12:26.846066  4789          150  WA3KE  /accounts
3     INFO  2018-08-30  17:12:25.846066  4788          102  0R0U2     /login
5     INFO  2018-08-30  17:12:23.846066  4788          293  3TT19   /profile
6     INFO  2018-08-30  17:12:22.846066  4787          287  3TT19     /login
9    DEBUG  2018-08-30  17:12:19.846066  4787          458  3TT19    /logout
10   DEBUG  2018-08-30  17:12:18.846066  4787          310  4CQRJ     /login
11   DEBUG  2018-08-30  17:12:17.846066  4787          309  W2BIU  /accounts
12   DEBUG  2018-08-30  17:12:16.846066  4788          485  0R0U2     /login
13    INFO  2018-08-30  17:12:15.846066  4787          122  WA3KE    /logout